@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 130 87 252;
    --color-success: 39 212 35;
    --color-warning: 245 144 50;
    --color-info: 113 187 255;
    --color-danger: 255 113 113;
    /* --color-secondary: 111 114 185; */
  }
}

@layer utilities {
  .bg-coloured {
    background: linear-gradient(92.08deg, rgba(86, 104, 222, 0.2) 4.82%, rgba(95, 206, 248, 0.2) 94.35%);
  }

  .bg-gradient-blue {
    background: linear-gradient(180deg, rgba(142, 194, 217, 0.2) 0%, rgba(250, 253, 254, 0.2) 100%);
  }

  .shadow-lg {
    box-shadow: 0px 4px 20px 0px #20202012;
  }

  .shadow-sm {
    box-shadow: 0px 4px 10px 0px #00000012;
  }

  .line {
    --line-rotation: 90deg;
    width: 100%;
    height: 2px;
    background: linear-gradient(var(--line-rotation), rgba(235, 235, 235, 0) 0%, #EBEBEB 49.85%, rgba(235, 235, 235, 0) 100%);

    &_dark {
      background: linear-gradient(var(--line-rotation), rgba(235, 235, 235, 0) 0%, #696969 49.85%, rgba(235, 235, 235, 0) 100%);
    }

    &_vertical {
      width: 2px;
      height: 100%;
      --line-rotation: 0deg;
    }
  }

  .profile__container {
    @apply bg-white dark:bg-grayDarkContent p-4 lg:p-6 shadow-lg dark:shadow-none border border-gray dark:border-none w-full;
  }

  .demo-text-dark {
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .demo-text {
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .loading {
    background-image: linear-gradient(to right, #c1c1c1 40%, transparent 40%)!important;
    background-position: 100% 100%;
    background-repeat: repeat-x!important;
    background-size: 150%;
    animation: input-is-loading 1s linear infinite;

    @keyframes input-is-loading {
      0% {
        background-position: 0% 100%;
      }
      100% {
        background-position: -300% 100%;
      }
    }
  }

  .bg-expert {
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #fff 50%, #ff0 55%, #fff 60%, #ff0 65%, #fff 70%)!important;
    background-position: 100% 100%;
    background-repeat: repeat-x!important;
    background-size: 1000%;
    animation: input-is-loading 2s linear infinite;

    @keyframes input-is-loading {
      0% {
        background-position: 0% 100%;
      }
      100% {
        background-position: -100% 100%;
      }
    }
  }
}

@layer components {
  .text-gradient {
    background: -webkit-linear-gradient(0deg, #7b00ff, #8cfffb, #aaf968);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icon {
    @apply w-3 h-3;

    &_comment {
      background-image: '@/assets/';
    }
  }

  .app__container {
    @apply xl:container px-3 w-full mx-auto;

    max-width: 1110px;
  }

  .checkbox {
    @apply h-5 w-5;

    &__input {
      @apply appearance-none border-2 border-gray2 h-full w-full checked:checkbox__input-checked relative cursor-pointer;

      &:after {
        @apply border-b-2 border-l-2 border-primary absolute transition-all duration-100;
        content: '';
        display: block;
        width: 70%;
        height: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%) scale(0) rotateZ(-45deg);
        opacity: 0;
      }
    }

    &__input-checked {
      @apply border-primary;

      &:after {
        opacity: 1;
        transform: translate(-50%, -70%) scale(1) rotateZ(-45deg);
      }
    }

    &__input-disabled {
      @apply cursor-default;
    }
  }
}

*::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  @apply dark:bg-gray3 bg-gray;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray2;
  border-radius: 20px;       /* roundness of the scroll thumb */
}
