@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 130 87 252;
    --color-success: 39 212 35;
    --color-warning: 245 144 50;
    --color-info: 113 187 255;
    --color-danger: 255 113 113;
    /* --color-secondary: 111 114 185; */
  }
}

.bg-coloured {
  background: linear-gradient(92.08deg, rgba(86, 104, 222, 0.2) 4.82%, rgba(95, 206, 248, 0.2) 94.35%);
}

.bg-gradient-blue {
  background: linear-gradient(180deg, rgba(142, 194, 217, 0.2) 0%, rgba(250, 253, 254, 0.2) 100%);
}

.shadow-lg {
  box-shadow: 0px 4px 20px 0px #20202012;
}

.shadow-sm {
  box-shadow: 0px 4px 10px 0px #00000012;
}

.line {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, rgba(235, 235, 235, 0) 0%, #EBEBEB 49.85%, rgba(235, 235, 235, 0) 100%);
}

.line::after {
  content: "";
  display: block;
}